.dark-mode {
  --primary: #212121;
  --secondary: #262626;
  --third: #fff;
  --fourth: #999;
  --fifth: #505050;

  --btn-bg-hover: #ccc;
  --btn-reverse-bg-hover: #262626;

  --btn-border-hover: #ccc;
  --btn-reverse-border-hover: #262626;
}
